<h3>Users</h3>
<hr>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Birth Date</th>
    <th>#</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.birthDate }}</td>
    <td>
      <a href="/edit" class="btn btn-default">Edit</a>
      <a href="/delete" class="btn btn-default">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
