<h3>Users</h3>
<hr>
<form [formGroup]="userForm" (ngSubmit)="save()" class="form-horizontal" novalidate>
  <div class="form-group" [ngClass]="displayFieldCss('firstName')">
    <div class="col-sm-12">
      <label for="firstName" class="control-label required">First Name</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
      <app-field-error [displayError]="isInvalid('firstName')" errorMsg="Please provide first name"></app-field-error>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('lastName')">
    <div class="col-sm-12">
      <label for="lastName" class="control-label required">Last Name</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName">
      <app-field-error [displayError]="isInvalid('lastName')" errorMsg="Please provide last name"></app-field-error>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label required">E-Mail</label>
      <input type="email" id="email" class="form-control" formControlName="email">
      <app-field-error [displayError]="isInvalid('email')" errorMsg="Please provide email"></app-field-error>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('password')">
    <div class="col-sm-12">
      <label for="password" class="control-label required">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password">
      <app-field-error [displayError]="isInvalid('password')" errorMsg="Please provide password"></app-field-error>
    </div>
  </div>

  <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
  <button type="button" class="btn btn-default" (click)="reset()">Clear</button>
  <button type="submit" class="btn btn-default">Save</button>
</form>
