<div class="row">
  <div class="col-md-10"><h3>Messages</h3></div>
</div>
<app-messages-input></app-messages-input>

<hr>
<div *ngFor="let message of messages">
  <div class="panel panel-default">
    <div class="panel-body">
      {{message.text}}
    </div>
    <footer class="panel-footer">
      <div class="author">
        <div>{{message.author}}</div>
        <div>{{message.id}}</div>
        <div>{{message.date}}</div>
      </div>
      <div class="config">
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </div>
    </footer>
  </div>
</div>
